<p id="notice"><%= notice %></p>

<p>
  <strong>Intime:</strong>
  <%= @input.InTime %>
</p>

<p>
  <strong>Outtime:</strong>
  <%= @input.OutTime %>
</p>

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
